.products-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(253, 247, 247);
    padding: 50px 0;
}
.laptop-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    
}
.cart-container{
    margin-right: 10px;
}
.cart-title{
    text-align: center;
}
.choose-random{
    border: 0;
    color: black;
    padding: 15px;
    border-radius: 8px;
    font-size: 17px;
    margin-right: 2px;
    font-weight: 600;
    margin-top: 10px;
}
.choose-random:hover{
    background-color: rgb(39, 28, 28);
    color: #FFFFFF;
    transition: 0.2s all ease;
}
.reset{
    border: 0;
    color: black;
    padding: 15px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
}
.reset:hover{
    background-color: rgb(39, 28, 28);
    color: #FFFFFF;
    transition: 0.2s all ease;
}