.laptop-info{
    width: 300px;
    height: 500px;
    border: 3px solid rgb(230, 212, 212);
    border-radius: 12px;
    position: relative;
}
.laptop-info img{
    width: 295px;
    height: 288px;
    border-radius: 12px;
    margin: 2px;
}
.laptop-detail{
    margin-left: 2px;
}
.laptop-title{
    font-size: 22px;
    font-weight: 700;
}
.laptop-price{
    font-size: 20px;
    font-weight: 500;
}
.btn-cart{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 60px;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cart p{
    font-size: 18px;
    font-weight: 600;
    margin-right: 5px;
}
.btn-cart:hover{
    color: white;
    background-color: darkgreen;
    transition: 0.2s all ease;
}