.laptop-info{
    width: 330px;
    height: 500px;
    border: 2px solid rgb(246, 238, 238);
    border-radius: 8px;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.laptop-info img{
    width: 320px;
    height: 288px;
    border-radius: 8px;
    margin-left: 4px;
    margin-top: 4px;
    
}
.laptop-detail{
    padding-left: 8px;
}
.laptop-title{
    font-size: 24px;
    font-weight: 700;
}
.laptop-price{
    font-size: 20px;
    font-weight: 500;
}
.btn-cart{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 60px;
    background: #FFE0B3;
    border: 1px solid #e4eef5;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cart p{
    font-size: 18px;
    font-weight: 600;
    margin-right: 5px;
}
.btn-cart:hover{
    color: white;
    background-color: darkgreen;
    transition: 0.2s all ease;
}

@media only screen and (max-width:688px) {
    .laptop-info{
        width: 220px;
        /* height: 500px; */
    }
    .laptop-info img{
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }
    .laptop-title{
        font-size: 20px;
        font-weight: 700;
    }
    .laptop-price{
        font-size: 16px;
        font-weight: 500;
    }
    .btn-cart p{
        font-size: 16px;
        font-weight: 600;
        margin-right: 5px;
    }
    /* .btn-info{
        width: 100%;
    } */
    /* .item-icon{
        display: none;
    } */
}